---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const blogCollection = await getCollection("blog");
---

<Layout title="Welcome to Astro UnoCSS.">
	<h1 class="text-4xl">Welcome to <span>Astro</span> UnoCSS</h1>
	<p class="mt-2 max-w-70ch font-200">
		This is a very simple Astro site that uses UnoCSS styling, and @unocss/preset typography for
		markdown content
	</p>
	<ul role="list" class="mt-32 flex flex-col gap-y-32">
		{
			blogCollection.map((blogPostEntry, i) => (
				<Card post={blogPostEntry} reverse={(i + 1) % 2 === 0} />
			))
		}
	</ul>
</Layout>
