<header class="relative mb-24 flex items-center justify-center py-5 text-center">
	<div class="mx-auto flex flex-col">
		<a href="/" class="text-5xl font-100">Astro UnoCSS</a>
		<span class="mt-2 font-300 text-gray-300">By Chris Williams</span>
	</div>
	<a
		href="https://github.com/chrismwilliams/astro-unocss"
		target="_blank"
		rel="noopener noreferrer nofollow"
		class="absolute right-0 border border-transparent rounded-xl bg-white/5 p-3 hover:border-gray-300"
	>
		<span class="sr-only">Github</span>
		<span class="i-logos-github-icon?mask text-2xl"></span>
	</a>
</header>
