<header class="flex justify-center items-center py-5 mb-24 text-center relative">
  <div class="mx-auto flex flex-col">
    <a href="/" class="text-5xl font-100">Astro UnoCSS</a>
    <span class="mt-2 font-300 text-gray-300">By Chris Williams</span>
  </div>
  <a href="https://github.com/chrismwilliams/astro-unocss" class="absolute right-0 p-3 rounded-xl bg-white/5 border border-transparent hover:border-gray-300">
    <span class="sr-only">Github</span>
    <span class="i-logos-github-icon?mask text-2xl"></span>
  </a>
</header>